.nav-container{
    background-color: #683bc0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nav-items a{
    text-decoration: none;
    margin-right: 5px;
    padding: 10px;
    color: white;
}