.nav-container {
    background-color: #683bc0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav-items a {
    text-decoration: none;
    margin-right: 5px;
    padding: 10px;
    /* color: #331C62; */
    /* color: white; */
    font-size: 18px;
}
.nav-items a:hover{
    color: yellow;
}
.link {
    text-decoration: none;
    margin-left: 15px;
    color: white;
    transition: color ease-in-out 300ms;
}

.active-link {
    text-decoration: none;
    margin-left: 15px;
    transition: color ease-in-out 300ms;
    color: yellow;
    border-bottom: 1px solid yellow;
    border-width: 2px;
    border-radius: 100%;
    display: inline-block;
}