.primary-color {
    color: #683bc0;
}
.order-btn{
    border: 1px solid #683bc0;
    border-radius: 5px;
    font-weight: bold;
    height: 35px;
}
.order-btn:hover{
    background-color: #683bc0;
    color: yellow;
}